@import "./all-pages/_reset";
@import "./all-pages/_variables";
@import "./all-pages/_header";
@import "./all-pages/_footer";
@import "./main/_title-section";
@import "./main/_features-section";
@import "./main/_team-section";
@import "./main/_companys-section";
@import "./portfolio/_gallery-section";
@import "./contract-terms/_contract-terms";
@import "./all-pages/modals/_all-modals";
@import "./all-pages/modals/_title-section-modal";