.title-section-modal {
  transform: scale(1) translate(0, 0);
  width: 528px;
  height: 581px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: auto;
  transition-property: transform, opacity;
  transition-duration: 400ms;
}

.is-hidden .title-section-modal {
  transform: scale(0.1) translate(0, 500px);
}

.title-modal-close-place {
  display: flex;
  justify-content: end;
  width: 512px;
  height: 30px;
}

.title-section-modal-close {
  width: 30px;
  height: 30px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-modal-close-button {
  width: 24px;
  height: 24px;
}

.title-modal-close-svg {
  fill: #000;
  width: 11px;
  height: 11px;
}

.title-section-modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.title-section-modal-form {
  width: 448px;
  height: 342px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.title-section-modal-item {
  width: 448px;
  height: 58px;
  flex-direction: column;
}

.title-section-modal-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  flex-direction: column;
}

.title-modal-input-box {
  position: relative;
  margin-top: 4px;
}

.title-modal-input-svg {
  width: 18px;
  height: 18px;
  display: flex;
  flex-shrink: 0;
  position: absolute;
  top: 11px;
  left: 12px;
  color: #000;
}

.title-section-modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 42px;
}

.title-section-modal-input2 {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  margin-top: 4px;
}

.title-section-modal-input2::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.title-section-modal-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: #757575;
  display: flex;
  margin-bottom: 30px;
}

.title-section-modal-okay {
  width: 16px;
  height: 16px;
  border: rgba(33, 33, 33, 1) solid 2px;
  border-radius: 2px;
  display: flex;
  margin-right: 7px;
}

.title-modal-text-link {
  color: #2196f3;
  text-decoration: underline 1px #2196f3;
}

.title-modal-sumbit-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.title-modal-sumbit-button:hover {
  background-color: rgba(24, 140, 232, 1);
}