.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: red 2px solid;

  @media screen and (min-width: 480px) {
  width: 480px;
}
  @media screen and (min-width: 768px) {
  width: 768px;
}
  @media screen and (min-width: 1200px) {
  width: 1200px;
}
}

.body {
  font-family: "Roboto";
  background-color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}