.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;

  @media screen and (min-width: 480px) {
    justify-content: center;
    flex-direction: column;
    width: 450px;
    gap: 60px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    width: 768px;
    flex-wrap: wrap;
    gap: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: start;
    width: 1200px;
    flex-wrap: nowrap;
  }
}

.footer-logo {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-logo-link {
  font-family: "Raleway";
}

.footer-logo-accent {
  color: #2196f3;
}

.footer-logo-text {
  color: #fff;
}

.footer-contacts {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    margin-right: 165px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.adress {
  display: flex;
  gap: 9px;
  flex-direction: column;
  width: 100%;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 480px) {
    align-items: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-contacts-item-adress {
  line-height: 1.714285714285714;
  font-weight: 400;
  color: #fff;
  display: flex;
  @media screen and (min-width: 480px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-contacts-item {
  line-height: 1.714285714285714;
  font-weight: 400;
  color: #ffffff99;
  margin-top: 9px;
  display: flex;
  width: 231px;
  @media screen and (min-width: 480px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-contacts-link {
  color: #ffffff99;
  display: flex;
  width: 232px;

  @media screen and (min-width: 480px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    margin-right: 93px;
  }
}

.footer-socials-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto";
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-socials-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-social {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: $animation;
  transition-property: background-color;
  transition-duration: 250ms;
}

.footer-svg-social {
  display: flex;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-social:hover {
  background-color: #2196f3;
}

.footer-social:hover .footer-svg-social {
  fill: #fff;
}

.footer-rozsylka {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
  }
}

.footer-rozsylka-text {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}

.footer-rozsylka-form {
  display: flex;

  @media screen and (min-width: 480px) {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-rozsylka-input {
  border: solid #ffffff4d 1px;
  border-radius: 4px;
  height: 50px;
  color: #ffffff99;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  padding-left: 16px;
  display: flex;
  margin-right: 12px;

  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 358px;
  }
}

.footer-rozsylka-button {
  display: flex;
  width: 200px;
  height: 50px;
  gap: 10px;
  @extend %buttons-okay;
}

.footer-rozsylka-button:hover {
  background-color: #0073cf;
}

.footer-rozsylka-button-svg {
  display: flex;
  width: 24px;
  height: 24px;
  fill: #fff;
  color: #fff;
}
