.header-secret {
  height: 80px;
}

.header {
  background-color: #fff;
  width: 1600px;
  position: fixed;
  z-index: 2;
  border: #ececec solid 2px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  // display: flex;
  gap: 93px;
  align-items: center;
  @media screen and (min-width: 480px) {
  display: none;
}
  @media screen and (min-width: 768px) {
  display: flex;
}
  @media screen and (min-width: 1200px) {
  display: flex;
}
}

.header-logo {
  font-family: "Raleway";
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: flex;
}

.header-logo-link {
  font-family: "Raleway";
}

.header-logo-accent {
  color: #2196f3;
}

.header-logo-text {
  color: #000;
}

.nav-list {
  color: #212121;
  gap: 50px;
  margin-top: 32px;
  margin-bottom: 0;
  display: flex;
}

.nav-item {
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: $animation;
  transition-property: color;
  transition-duration: 250ms;
}

.nav-item:hover {
  color: #2196f3;
  
}

.nav-item-link {
  color: #212121;
  transition: $animation;
  transition-property: color;
  transition-duration: 250ms;
}

.nav-item-link:hover {
  color: #2196f3;
}

.current-link {
  color: #2196f3;
}

.current-link::after {
  display: block;
  content: "";
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  box-sizing: border-box;
  animation: toTopToBottom 3.5s infinite;
}

@keyframes toTopToBottom {
  0% { transform: translateY(-22px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-22px); }
}

.header-contacts-list {
  display: flex;
  gap: 50px;
}

.header-contacts-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: #757575;
  cursor: pointer;
  transition: $animation;
  transition-property: color;
  transition-duration: 250ms;
}

.header-contacts-item:hover {
  fill: #2196f3;
}

.header-contacts-item:hover .header-contacts-link {
  color: #2196f3;
}

.header-contacts-svg-1 {
  width: 24px;
  height: 18px;
  transition: $animation;
  transition-property: fill;
  transition-duration: 250ms;
}

.header-contacts-svg-2 {
  width: 15px;
  height: 24px;
  transition: $animation;
  transition-property: fill;
  transition-duration: 250ms;
}

.header-contacts-link {
  color: #757575;
  transition: $animation;
  transition-property: color;
  transition-duration: 250ms;
}

.header-contacts-link:hover {
  color: #2196f3;
}

.header-open-menu-button {
   @media screen and (min-width: 480px) {
  display: flex;
}
  @media screen and (min-width: 768px) {
  display: none;
}
  @media screen and (min-width: 1200px) {
  display: none;
}
}

.header-open-menu-svg {
  fill: #757575;
  transition: $animation;
  transition-property: color;
  transition-duration: 250ms;
}

.header-open-menu-button:hover .header-open-menu-svg {
  fill: #2196f3;
}