:root {
  --title-color: #212121;
  --text-title-color: #000000;
  --text-color: #757575;
  --gray-backgr-color: #2f303a;
  --accent-color: #2196f3;
  --button-hover-color: #0073cf;
  --white-color: #ffffff;
  --gray-color: #f5f4fa;
  --border-color: #eeeeee;

  --first-family: "Roboto";
  --second-family: "Raleway";

  --animation: cubic-bezier(0.25, 0.5, 0.75, 1);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  font-family: var(--first-family);
  background-color: var(--white-color);
  font-weight: 700;
}