.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: 320px) {
  justify-content: center;
}
  @media screen and (min-width: 768px) {
  
}
  @media screen and (min-width: 1200px) {
  
}
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 320px) {
  max-width: 290px;
}
  @media screen and (min-width: 768px) {
  max-width: 270px;
}
  @media screen and (min-width: 1200px) {
  max-width: 270px;
}
}

.features-item-1::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-image: url("../images/group-1.png");
}

.features-item-2::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-image: url("../images/group-2.png");
}

.features-item-3::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-image: url("../images/group-3.png");
}

.features-item-4::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-image: url("../images/group-4.png");
}

.feature-name {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
}

.feature-description {
  font-weight: 400;
  line-height: 1.714285714285714;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
}

.jobs-title {
  display: flex;
  font-size: 36px;
  margin-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
  
  @media screen and (min-width: 320px) {
  display: none;
}
  @media screen and (min-width: 768px) {
  display: none;
}
  @media screen and (min-width: 1200px) {
  display: flex;
}
}

.jobs-list {
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 320px) {
  display: none;
}
  @media screen and (min-width: 768px) {
  display: none;
}
  @media screen and (min-width: 1200px) {
  display: flex;
}
}

.jobs-item {
  position: relative;
  width: 370px;
  height: 294px;
}

.job-item-img {
  display: block;
  width: 370px;
  height: 294px;
}

.jobs-item-description {
  font: 700;
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  background-color: #2f303acc;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
}