.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-section-title {
  display: flex;
  font-size: 36px;
  margin-bottom: 50px;
  justify-content: center;
}

.team-section-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.teammate {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 0px 5px 5px #0000001f;
  width: 270px;
  height: 428px;
}

.teammate-img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.teammate-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.teammate-proffesion {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.teammate-socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.teammate-social {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: $animation;
  transition-property: background-color;
  transition-duration: 250ms;
}

.teammate-svg-social {
  display: flex;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: $animation;
  transition-property: fill;
  transition-duration: 250ms;
}

.teammate-social:hover {
  background-color: #2196f3;
}

.teammate-social:hover .teammate-svg-social {
  fill: #fff;
}