.title-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;

  @media screen and (max-width: 767px) {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url("../images/adaptive-images/title-section-background@mobile-1x.webp");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url("../images/adaptive-images/title-section-background@mobile-2x.webp");
    }
  }

  @media screen and (min-width: 768px) {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url("../images/adaptive-images/title-section-background@tablet-1x.webp");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url("../images/adaptive-images/title-section-background@tablet-2x.webp");
    }
  } 

  @media screen and (min-width: 1200px) {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url("../images/adaptive-images/title-section-background@desktop-1x.webp");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url("../images/adaptive-images/title-section-background@desktop-2x.webp");
    }
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 900;
  line-height: 1.363636363636364;
  color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  display: flex;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    max-width: 360px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 696px;
  }
}

.title-section-button {
  display: flex;
  @extend %buttons-okay;
  width: 200px;
  height: 50px;

  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}

.title-section-button:hover {
  background-color: #0073cf;
}
